html,
body {
  height: 100%;
  background-color: #353535;
}

:root {
  --bs-list-group-action-hover-bg: #494949; /* Set the hover background color to gray */
}


p {
  color: white;
}

.sidebar {
    background: #494949;
    border-color: black;
    padding-top: 2em;
    border-style: none solid none none;
    border-width: thin;
    height: 100vh;
  }

  .card {
    background-color: #494949!important;
  }
.card-body,
.card {
    border-radius: 0 !important;
}
.card-title {
    color: #D9D9D9!important;
}
.card-text {
    font-size: 64px;
    color: #FFAD05;
}
/*
#mainContent {
    padding-left: 18%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}
  */
.grid-col {
    background-color: #ffffff;
    border: 1px solid #cccc;
    padding: 10px;
    text-align: center;
}
  
#sidebar-button {
    width: 90%;
    background-color: #353535;
    color: #D9D9D9;
    border: none;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px;
    border-radius: 0px;
}
  
#sidebar-button:hover {
    background-color: #4c4c4c;
}
  

#filterBar{
  border-width: 0;
  background-color: #4c4c4c;
  color: #ffffff;
}

#filterBar::placeholder {
  color: #ffffff;
}

#RefreshDataBtn{
  width: 90%;
  background-color: #494949;
  color: #D9D9D9;
  border: none;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0px;
  border-radius: 0px;
}

.list-group-item::marker {
  content: none;
}

.list-group-item {
  border-radius: 0 !important;
  background-color: #494949; /* Gray background color */
  color: #fff; /* Set the text color to white */
}

ul.list-group li {
  background-color: #494949;
  padding: 0;
}

/* Override Bootstrap's default focus and active styles */
.list-group-item:focus, .list-group-item:hover, .list-group-item:active {
  background-color: #494949;
  color: #fff;
  text-decoration: none;
  border-color: #ccc;
}

#iconButton{
  background-color: #494949;
  border: 0;
}